.color{
    background-color: brown;
}
.flex_row {
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
}
.pair_list {
    width: 100%;
    /* background-color: yellow; */
    flex-direction: row;
}

.base_pair {
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.times_pair {
    float: right;
}
.note_pair {
    font-size: 12px;
    font-style: italic;
}

.remove_pair {
    /* width: 20%; */
    flex-direction: row;
    position: relative;
}
.delete_icon {
    background-color: #ef4353;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    font-size: 26px;
    position: absolute;
    right: -14px;
    top: -15px;
    cursor: pointer;
}