
.already_added {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  width: 90%;
  background-color: rgba(108, 117, 125, 0.7)!important;
  padding: 10px 0;
  border-radius: 4px;
  color: #fff;
  z-index: 1;
  border: 1px solid #bbb;
  margin: 15px auto 0 auto;
  animation: pop-add 200ms ease-in;
}


.select_pair {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


ul.currencies_value {
  padding: 10px;
  height: 80vh;
  background-color: #f4f4f4;
  overflow: hidden;
  overflow-y: scroll;
}

ul.currencies_value li{
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: solid 1px #ebebeb
}
.currencies_remove {
  text-align: right;
  cursor: pointer;
}


.add_more {
  padding: 10px;

}
.panel_pair {
  width: 100%;
  background-color: #f3f3f3;
  height: 60px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  box-shadow: 1px 1px 10px #8c8c8c;
}
.other_pair {
  width: 70%;
  float: left;
  padding: 10px;

}
.btn_add {
  background-color: yellow;
  width: 20%;
  margin-top: 10px;
  float: left;
}



.add_icon {
  width: 100%;
  display: inline-block;
  padding: 8px 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

}


@keyframes pop-add {
  0% { opacity: 0; }
  20% { opacity: 1; }
  200% { opacity: 0; }
}